<header>
    <div class="container flex" id="navbar">
        <nav>
            <div class="row">
                <img src="static/images/logo.png" alt=" logo" class="logo">
                <ul class="main-nav bottom-xs xs-hide">
                    <li><a href="/" class="">Home</a></li>
                    <li><a href="plp.html" class=""> Products</a></li>
                </ul>
                </div>
        </nav>
    
        <div class="header-right">
            <a href="signin" class="xs-hide"> SignIn</a>
            <a href="signup" class="xs-hide"> Register</a>

            <div class="cart">
                <a href="cart.html" id="myBtn" class="got-to-cart"> <img src="./assets/images/cart.svg" alt=""> </a>
                <span class="xs-show item-in-cart"> 0</span>
                <span class="xs-hide">0 item</span>
                <div id="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <ul class="main-nav js--main-nav bottom-xs" id="mobile-nav">
                    <li><a href="index.html" class="">Home</a></li>
                    <li><a href="plp.html" class=""> Products</a></li>
                    <li><a href="sign-in.html" class=""> Signin</a></li>
                    <li><a href="sign-up.html" class=""> Signup</a></li>

                </ul>

            </div>
        </div>
    </div>
</header>