<section class="cart-section " >
        <div class="container " >

            <div class="item-in-cart">

                {{!-- {{#each cart}} --}}

                <div class="my-cart">
                    <h4>My cart <span class="nav__end-cart--count"> {{cart.count}} items</span> </h4>
                </div>

                {{ #each items }}
                <div class="my-cart items-details" data-id="">
                    <img src="assets/images/products/fruit-n-veg/apple.jpg" alt="" width="80px">
                    <div class="details">
                        <h3>Apple - Washington, Regular, 4pcs</h3>
                        <div>
                        <a href="" class="add">&#45;</a>
                        <span class="quantity">2</span>
                        <a href="" class="add">+</a> * <span class="total-rs">Rs. 87</span>
                        </div>
                    </div>
                    <span class="tot-rupee">Rs. 115</span>
                </div>

                {{ /each }}

                {{!-- {{ /each }} --}}

                <div class="my-cart items">
                    <img src="assets/images/lowest-price.png" alt="">
                    <span > You won't fint it cheeper anywahere</span> 
                </div>

            </div>

        </div>
    </section>

    <section class="promo-code" >
        <div class="container " >
            <p class="text-center">Promo code can be applied on payment page.</p>
            <button>Checkout to proceed <span>Rs. 187 ></span></button>   
        </div>
    </section>