 <section class="login-section mt-30 mb-15">
    <div class="container" >
        <div class="sign-up flex">
            <div class="sign-up__page-info mt-20">
                <h2>Login</h2>
                <p>Get access to your Orders, Wishlist and Recommandations</p>
            </div>
            <div>
                <form action="#" autocomplete="off">
                    <fieldset>
                        <input id="first" type="text" name="first" required>
                        <label for="first">First Name</label>
                        <div class="after"></div>
                    </fieldset>
                    <fieldset>
                        <input id="last" type="text" name="last" required>
                        <label for="last">Last Name</label>
                        <div class="after"></div>
                    </fieldset>
                    <fieldset>
                        <button>Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>