/******* Home page css ***********/
.home-section {
  flex-flow: row;
  &__category img {
    max-width: 400px;
    outline: none;
  }
  &__home-anchor {
    position: relative;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    margin-top: 20px;
    padding: 6px 10px;
    color: #fff;
    border: none;
    background: #d00255;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.6s ease;
    cursor: pointer;
    text-decoration: none;
  }
  .flex-center {
    align-self: center;
    flex-basis: 100%;
    div:last-child {
      align-self: center;
      justify-content: space-around;
    }
  }
  .flex-center div:last-child {
    @include flex-align(center, flex-start, 1);
  }
  .flex-center div:first-child {
    @include flex-align(center, flex-start, 1);
  }
  button {
    width: auto;
  }
  p {
    font-size: 85%;
    margin-bottom: 20px;
  }

  .box-shadow {
    outline: none;
    @include bg-color();
    min-height: 250px;
    position: relative;
    padding: 5px 0;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  .box-shadow:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 21px;
    transform: translateX(-50%);
    width: 90%;
    height: 91%;
    border-radius: 30%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
  }

  .box-shadow:last-child:after {
    box-shadow: none;
  }
  .home-section__slider {
    .home-section__slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      &__mySlides {
        display: none;
      }
      img {
        vertical-align: middle;
        outline: none;
        width: 100%;
      }

      &__btn--prev,
      &__btn--next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 0 6px;
        // margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 70%;
        transition: 0.6s ease;
        user-select: none;
        @include bg-color(rgba(0, 0, 0, 0.5));
      }

      &__btn--prev {
        left: 0;
      }
      &__btn--next {
        right: 0;
      }
      &__btn--prev:hover,
      &__btn--next:hover {
        @include bg-color(rgba(0, 0, 0, 0.8));
      }
    }
    .home-section__dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      @include bg-color(#bbb);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .home-section__dot:hover {
      @include bg-color(#717171);
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .home-section__slideshow-container__btn--prev,
      .home-section__slideshow-container__btn--next,
      .text {
        font-size: 11px;
      }
    }
  }
}

/******* End Home page css ***********/
